body{
    background: #FCF4F8;
}

header{
    background:  #E53E62;
    padding: 25px 0;
}

#title{
    color: #fff;
    font-weight: 500;
    font-size: 38px;
    letter-spacing: 1.5px;
}

#sub-title{
    color: #FED8EF;
    letter-spacing: 1.5px;
}

.user-box{
    display: inline-block;
    margin-bottom: 10px;
}

.partner-box{
    display: inline-block;
    margin-bottom: 10px;
}

main{
    background: #FED8EF;
    padding: 30px 0;
}

.box{
    background: #F4F5FD;
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, .1);
}

.result-box{
    word-wrap: break-word;
    background: #F4F5FD;
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, .1);
}

.box-title{
    font-weight: 600;
    margin-bottom: 10px;
}

input[type= "text"]{
    padding: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, .4);
    margin-bottom: 10px;
}

.description{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    padding: 40px 0;
    background: #FCF4F8;
}

span#procent {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 50px;
    transform: translate(-50%, -50%);
    color: #3949AB;
}
  
span#procent::after {
    content: '%';
}
  
.canvas-wrap {
    position: relative;
    width: 250px;
    height: 250px;
}


@media only screen and (min-width: 768px){
    .user-box{
        margin-right: 25px;
    }

    header{
        padding: 35px 0;
    }

    main{
        padding: 150px 0;
    }

    .box{
        padding: 50px;
    }

    footer{
        padding: 60px 0;
    }
}
